$sl-navigation-color: #ffffff; // цвет стрелок
$sl-caption-color: #ffffff; // цвет текста подписи
$sl-caption-background: rgba(46, 47, 66, 0.8); // фон подписи
// $add-vendor-prefixes: true !default;

@import 'simplelightbox/dist/simple-lightbox.scss';
