body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background-color: rgb(245, 244, 243);
}

a {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover,
ul li a:hover {
  color: rgb(48, 166, 168);
}

/* -------------------gallery-----------------*/

.gallery {
  padding-top: 24px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center;
}

.gallery-image:hover {
  transform: scale(1.04);
}

.sl-overlay {
  background-color: rgba(46, 47, 66, 0.8) !important;
}

.sl-prev,
.sl-next,
.sl-counter,
.sl-close {
  color: #ffffff !important;
}

/* -----------------end gallery---------------*/
/* --------------------form-------------------*/
.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  border-radius: 8px;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 360px;
}

input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 12px;
  height: 40px;
  margin-bottom: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:hover {
  border-color: #000000;
}

input:active {
  border-color: #808080;
}

textarea {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 12px;
  height: 66px;
  margin-bottom: 16px;
  resize: none;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 8px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  background-color: #6c8cff;
}
/* ------------------end form-----------------*/
